# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*
*.tfplan

# Секреты Terraform
terraform.tfvars
*.tfvars

# K8s секреты (если хранишь yaml с паролями)
db-secret.yaml
*secret*.yaml

# Логи
*.log

# IDE
.idea/
.vscode/
