# promtail-values.yaml
config:
  server:
    http_listen_port: 3101
    grpc_listen_port: 0

  positions:
    filename: /run/promtail/positions.yaml

  clients:
    # Пушим напрямую в Loki statefulset "loki" в namespace monitoring
    - url: http://loki:3100/loki/api/v1/push

  scrape_configs:
    - job_name: kubernetes-pods
      pipeline_stages:
        - cri: {}   # парсит стандартные контейнерные логи

      kubernetes_sd_configs:
        - role: pod

      relabel_configs:
        # Базовые лейблы
        - action: replace
          source_labels: [__meta_kubernetes_pod_node_name]
          target_label: node_name

        - action: replace
          source_labels: [__meta_kubernetes_namespace]
          target_label: namespace

        - action: replace
          source_labels: [__meta_kubernetes_pod_name]
          target_label: pod

        - action: replace
          source_labels: [__meta_kubernetes_pod_container_name]
          target_label: container

        - action: replace
          source_labels: [__meta_kubernetes_pod_uid]
          target_label: pod_uid

        # Мапим лейблы подов
        - action: labelmap
          regex: __meta_kubernetes_pod_label_(.+)

        # job = namespace/pod
        - action: replace
          separator: /
          source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_pod_name]
          target_label: job

        # Путь к логам контейнера
        - action: replace
          replacement: /var/log/pods/*$1/*.log
          separator: /
          source_labels: [__meta_kubernetes_pod_uid, __meta_kubernetes_pod_container_name]
          target_label: __path__
